{{- if site.Params.footer | default true -}}
<footer class="bonsai-footer">
  {{- with site.Params.footerText -}}
    <p>{{ . | safeHTML }}</p>
  {{- else -}}
    {{- $ctx := dict "year" now.Year "name" (site.Params.name | default site.Title) -}}
    <p>{{ i18n "footer_default" $ctx | default (printf "© %d %s" now.Year (site.Params.name | default site.Title)) | safeHTML }}</p>
  {{- end -}}
  {{- if site.Params.themeToggle -}}
    {{ partial "theme-toggle-button.html" . }}
  {{- end -}}
</footer>
{{- end -}}
